* {
    box-sizing: border-box;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0px 0px 10px;
}

h3 {
	color: #ce7c58;
	text-transform: uppercase;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin-top: 90px;
    margin: 60px auto;
    background-color: #FFF;
}

/*First section with large image*/

h1.leadingimg {
	color: #FFF;
	font-size: 53px;
	text-transform: uppercase;
	font-family: 'Syncopate', sans-serif;
}

h1.top {
	padding-top: 15%;
}

div.leadingimg {
	background: url('/nature2.jpg');
	background-size: cover;
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

/*Second section with column structure*/

h1.pathways {
	font-size: 53px;
	text-transform: uppercase;
	font-family: 'Syncopate', sans-serif;
	padding-top: 5px;
}
#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#firstcol {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#secondcol {
	width: 294px;
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#thirdcol {
	width: 270px;
	padding: 5px 15px;
	float: left;
}

footer {
	clear: both;
	padding: 0 15px;
}

/*
.site-header .nav-menu li li {
    margin-left: 0;
}

.site-header .nav-menu {
    margin-top: 0px;
}

.site-header ul.nav-menu {
    float: none;
}*/

.nav-menu,
.site-description,
.site-header .title-area,
.site-title {
    text-align: center;
}

.site-container {
    margin: 0 auto;
    width: 100%;
}
.site-inner, .wrap {
    clear: both;
}

.wrap {
    padding-left: 5%;
    padding-right: 5%;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*
.nav-menu li {
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-flex;
}/*
/*
.nav-primary ul li.current-menu-item {
	background: #ddd;
}*/

li {
	display: inline-block;
}

li a.navlist, .dropbtn {
	display: inline-block;
	color: #ce7c58;
	text-align: center;
	text-transform: uppercase;
	padding: 14px 16px;
	text-decoration: none;
}

li a.navlist:hover, .dropdown:hover .dropbtn {
	font-weight: bold;
	/*display: block;*/
}

/*
.nav-primary ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 100;
	background: #fff;
	padding: 0;
}*/

/*
.nav-primary ul ul li {
	float: none;
	width: 200px;
}*/

/*
.nav-primary ul li:hover > ul {
	display: block;
}*/

.site-header {
    padding: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}

p.site-description {
    display: none;
}

#title-area {
    position: relative;
    z-index: 9999;
}



.header-image .site-description {
    line-height: 0;
}

.site-description {
    font-family: 'Georgia', serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

.site-description,
.site-title {
    margin-bottom: 0;
}

.site-title a {
	background-image: url("http://campsci.github.io/CampSciLOGo.png")!important;
	background-repeat:no-repeat;
	background-size: 164px auto;
	background-position-x: center;
	background-position-y: center;
}

.site-title {
	position: relative;
        z-index: 9999;
	display: inline-block;
	padding: 0;
	width: 164px;
	height: auto;
}

p.site-description {
    display: none;
}

.header-full-width .title-area {
    position: relative;
    z-index: 9999;
}

site-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.site-title > a {
	display: block;
	height: 192px;
	position: relative;
	margin-top: -61px;
	text-indent: -5000px;
}

.nav-primary {
	background: #fff;
	/*border-top: 1px solid #A6A8AB;
        border-bottom: 1px solid #A6A8AB;*/
	margin: 0 0 60px auto;
	padding: 0px;
	z-index: -9999;
}

/* Hoverable Dropdown*/
li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

