body {
    font-family: 'Roboto', sans-serif;
    margin-top: 90px;
    margin: 60px auto;
    width: 70%;
    background-color: #FFF;
}

.site-header .sub-menu .submenu {
    margin-top: -42px;
}

.site-header .genesis-nav-menu li li {
    margin-left: 0;
}

.site-header .genesis-nav-menu {
    margin-top: 0px;
}

.site-header ul.genesis-nav-menu {
    float: none;
}

.genesis-nav-menu,
.site-description,
.site-header .title-area,
.site-title {
    text-align: center;
}

.site-container {
    margin: 0 auto;
    width: 100%;
}
.site-inner, .wrap {
    clear: both;
    margin: 0 auto;
    max-width: 960px;
}

.wrap {
    padding-left: 5%;
    padding-right: 5%;
}

.site-header {
    padding: 0;
}

p.site-description {
    display: none;
}

.title-area {
    width: 164px;
    position: relative;
    z-index: 9999;
}

.site-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 9999;
}


.header-image .site-description {
    line-height: 0;
}

.site-description {
    font-family: 'Georgia', serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

.site-description,
.site-title {
    margin-bottom: 0;
}


img.site-title {
	width: 164px;
	height: auto;
	align: center;
	position: relative;
        z-index: 9999;
}

p.site-description {
    display: none;
}

.header-full-width .title-area {
    width: 188px;
    margin: 1px auto -124px 40.5%;
    position: relative;
    z-index: 9999;
}

site-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.genesis-nav-menu {
    background: #fff;
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left;
}

.genesis-nav-menu a {
    color: #F36C34;
    display: block;
    padding: 15px 10px;
}

.nav-primary input {
	border-bottom: 1px solid #ddd;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	font-family: 'Playfair Display', serif;
	font-size: 11px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1;
	padding: 7px;
	width: 200px;
}


.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: #41acc7;
}

.genesis-nav-menu .sub-menu {
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    z-index: -100;
    width: 200px;
    margin-top: 1px;
}

.genesis-nav-menu .sub-menu a {
    background-color: #4F4F4F;
    border-top: none;
    font-size: 13px;
    position: relative;
    width: 198px;
}

.genesis-nav-menu .sub-menu .sub-menu {
    margin: -42px 0 0 198px;
}

.genesis-nav-menu menu-item:hover {
    position: static;
}


.genesis-nav-menu li.nav-space{
width: 250px;
}

.nav-primary {
	background: #fff;
	border-top: 1px solid #A6A8AB;
        border-bottom: 1px solid #A6A8AB;
	margin: 0 0 80px auto;
	max-width: 960px;
	padding: 0;
	z-index: -9999;
}

.nav-primary:before {
    border-top: 1px solid #A6A8AB;
    display: block;
    position: relative;
    z-index: 7777;
    bottom: 9px;
}
.nav-primary:after {
    border-top: 1px solid #A6A8AB;
    display: block;
    padding-bottom: 0px;
    position: relative;
    z-index: 7777;
    top: 9px;
}

.nav-primary .genesis-nav-menu a {
	color: #173821;
}

.nav-primary .genesis-nav-menu .sub-menu a {
    color: #FFFFFF;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 20px 0px;
    font-size: 16px;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #41acc7;
}

nav {
	clear: both;
}
 
button.sub-menu-toggle {
		border: 0 !important;
	}
 
.menu-toggle {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 0;
	border-left: 0;
	display: block;
	font-size: 10px;
	font-weight: 700;
	margin: 10px auto;
	overflow: hidden;
	padding: 4px 10px;
	text-align: center;
	visibility: visible;
}

.sub-menu-toggle {
	display: block;
	font-size: 10px;
	font-weight: 700;
	margin: 0 auto;
	overflow: hidden;
	padding: 4px 10px;
	text-align: center;
	visibility: visible;
}

button.menu-toggle,
button.sub-menu-toggle {
	background-color: transparent;
	color: #999;
	font-size: 22px;
}

.sub-menu-toggle {
	padding: 7px;
	position: absolute;
	right: 0;
	top: 0;
}

.menu-toggle:before {
	content: "M E N U";
}

.menu-toggle.activated:before {
	border: 0;
	content: "\2191";
}

.sub-menu-toggle:before {
	border: none;
	content: "+";
}
 
.sub-menu-toggle.activated:before {
	border: 0;		
	content: "-";
}

ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

/* Old CSS 

.navigation {
  background-color: #F36C34;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navigation ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.navigation li {
  display: inline-block;
  text-shadow: 0px 2px 4px rgba(34, 62, 66, .75);
}

.navigation a:link {
  margin: 0 auto;
  display: block;
  width: 120px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

.navigation a:hover, a:active {
 background-color: #F36C34;
 text-decoration: underline;
}

.logo {
    height:50px;
    width:50px;
    margin-top: 0;
    padding: 0;
}

.container {
    background-color: #FFF;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

.container a {
    text-decoration: none;
    color: #999;
}
.container a:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: #999;
}
footer a:hover {
    text-decoration: underline;
}

h1 {
  background: #05A8AA;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  top: 130px;
  width: 70%;
}

h2 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 34px;
  min-width: 200px;
  max-width: 800px;
  min-height: 200px;
  max-height: 300px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul { 
    list-style: none; 
}

li { 
    padding: 5px 0; 
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    list-style: none;
}

ul.posts li {
    list-style: none;
}

.btn {
  color: #05A8AA;
  border: 1px solid #05A8AA;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #05A8AA;
  border: 1px solid #05A8AA;
  color: #FFF;
}
*/
