* {
  margin: 0;
  pagging: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #FFF;
  display: flex;
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
  
div.container {
  align-items: center;
  align-self: center;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  min-height: 800px;
  justify-content: center;
  width: 800px;
}

h1 { 
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34, 62, 66, .75);
  width: 100%;
}

a.btn {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(34, 62, 66, .9);
  color: #000;
  font-size: 18px; 
  letter-spacing: 1px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}

a.btn:hover {
  box-shadow: 0px 4px 4px rgba(34, 62, 66, .25);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}

